/* src/Login.css */
.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .Login form {
    display: flex;
    flex-direction: column;
  }
  
  .Login div {
    margin-bottom: 10px;
  }